@import url('https://fonts.googleapis.com/css?family=Exo:400,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:700,800');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
}